@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
*{
	margin:0;
}

html,body{
	margin:0;
	padding:0;
	
}
body{
	height:100%;
	min-height:100%;
	background-color:#CCC;
	padding:0px;
	margin:0px;
}


#cssmenu {width:100%;height:50px;padding: 0; margin: 0; border: 0;}
#cssmenu ul, #cssmenu li {list-style: none; margin: 0; padding: 0;}
#cssmenu ul {text-align:right;position: relative; z-index: 597; }
#cssmenu ul li { float: left; min-height: 1px; vertical-align: middle;}
#cssmenu ul li.hover,
#cssmenu ul li:hover {position: relative; z-index: 599; cursor: default;}
#cssmenu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
#cssmenu ul ul li {float: none;}
#cssmenu ul ul ul {top: 0; left: auto; right: -99.5%; }
#cssmenu ul li:hover > ul { visibility: visible;}
#cssmenu ul ul {bottom: 0; left: 0;}
#cssmenu ul ul {margin-top: 0; }
#cssmenu ul ul li {font-weight: normal;}
#cssmenu a { display: block; line-height: 1em; text-decoration: none; }


#cssmenu {
  background: #333;
  border-bottom: 4px solid #1b9bff;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 10px; 
}

  #cssmenu > ul { *display: inline-block; }

  #cssmenu:after, #cssmenu ul:after {
    content: '';
    display: block;
    clear: both; 
}

#cssmenu .borderinc{
	height:50px;
	text-align:right;
	padding:0;
	margin:0;
	visibility:visible;
	border-bottom:4px solid #1b9bff;
}
#cssmenu a {
    background: #333;
    color: #CBCBCB;
    padding: 0 20px; 
}
#cssmenu ul { text-transform: uppercase; }

    #cssmenu ul ul {
      border-top: 4px solid #1b9bff;
      text-transform: none;
      min-width: 10px; 
}
      #cssmenu ul ul a {
        background: #1b9bff;
        color: #FFF;
        border: 1px solid #0082e7;
        border-top: 0 none;
        line-height: 150%;
        padding: 5px 10px; 
}
      #cssmenu ul ul ul { border-top: 0 none; }

      #cssmenu ul ul li { position: relative }
	  
	  
	  #cssmenu > ul > li > a { line-height: 48px;  }

#cssmenu ul ul li:first-child > a { border-top: 1px solid #0082e7; }
        #cssmenu ul ul li:hover > a { background: #35a6ff; }

        #cssmenu ul ul li:last-child > a {
          border-radius: 0 0 3px 3px;
          box-shadow: 0 1px 0 #1b9bff; 
}
        #cssmenu ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }

        #cssmenu ul ul li.has-sub > a:after {
          content: '+';
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -8px;
}

#maincontent{
	margin-bottom:13px;
	float:left;
	width:750px;
	margin-top:5px;
	border:thin solid  #9E9E9E;
	background-color:#FFF;
	margin-left:150px;
	
	
}
#logo{
	
	padding:10px;
}
#contact{
	font-family:Verdana, Geneva, sans-serif;
	padding:15px;
	float:right;
}
#contact p{
	font-size:12px;
}
#sub{
	border-top-style:solid;
	border-top-width:20px;
	border-top-color:#1b9bff;
}
#top{
	border-bottom:thin solid #999999;
}
.topq{
	font-family: 'Oswald', sans-serif;
	text-indent:40px;
}

#questions{
	margin:0;
	padding:10px;
	border-width:thin;
	
	 border-bottom:groove;
}
#questions:hover{
	background-color:#E9E9E9;
}
#questions .question a{
	color:#666;
	text-decoration:none;
}
#questions .question a:hover{
	color:#000;
}
.small-text{
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
}
.small-text a{
	text-decoration:none;
	color:#274AC5;
}
.small-text a:visited{
	color:#274AC5;
}
#lorem{
	margin-left:100px;
	
}
.ask{
	text-indent:500px;
}
.question{
	font-family: 'Roboto', sans-serif;
	display:inline-block;
	text-indent:40px;
	font-size:25px;
	
}
.container{
	border-top-left-radius:4px;
	padding:0;
	border:thin solid #9E9E9E;
	border-top-right-radius:4px;
	background-color:#FFF;
	margin-right:20px;
	width:400px;
	float:right;
}
#space{
	width:33.333333333%;
}
#user{
	text-align:center;
	padding:5px;
	border-bottom-style:double;
	border-bottom-color:#999;
	border-bottom-width:1px;
}

#footer{
	 background:rgba(27,155,255,1);
	 padding-bottom:20px;
	 padding-top:20px;
	 border-top:solid 9px rgba(0,0,0,0.3);
	 margin:0,20px;
	 color:#000000;
	 clear:both;
}
#footer #line{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#social li{
	display:inline;
	margin:0 auto;
}
#social{
	text-align:center;
}