@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

html,body{
	margin:0;
	padding:0;
	
}
body{
	height:100%;
	min-height:100%;
	background-color:#CCC;
	padding:0px;
	margin:0px;
}
.container{
	-webkit-box-shadow: 4px 4px 31px -1px rgba(0,0,0,0.88);
	-moz-box-shadow: 4px 4px 31px -1px rgba(0,0,0,0.88);
	box-shadow: 4px 4px 31px -1px rgba(0,0,0,0.88);
	background-color:#FFFFFF;
	width:500px;
	margin:30px auto;
}
.col-sm-10 .form-control{
	width:250px;
}
.checkbox span{
	padding-left:40px;
}
.checkbox a{
	
	text-decoration:none;
}
#radio{
	padding-bottom:10px;
}
#sub{
	padding-bottom:10px;
	margin-left:200px;;
}
.button{
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:5px 8px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
}             
.button:hover{
	background:#0066FF;
	background: -moz-linear-gradient(top,#0066FF 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0066FF),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#0066FF 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#0066FF 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#0066FF 0%,#188BC0 100%);
	background: linear-gradient(top,#0066FF 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0066FF',endColorstr='#188BC0',GradientType=0);
	padding:5px 8px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
}
	
#footer{
	position:absolute;
	bottom:0;
	 background:rgba(27,155,255,1);
	 padding-bottom:20px;
	 padding-top:20px;
	 border-top:solid 9px rgba(0,0,0,0.3);
	 width:100%;
	 margin:0,20px;
	 color:#000000;
	 clear:both;
}
#rfooter{
	 background:rgba(27,155,255,1);
	 padding-bottom:20px;
	 padding-top:20px;
	 border-top:solid 9px rgba(0,0,0,0.3);
	 width:100%;
	 margin:0,20px;
	 color:#000000;
	 clear:both;
}
#line{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#social li{
	display:inline;
	margin:0 auto;
}
#social{
	text-align:center;
}
